version: '3.8'

services:
  cert-frontend:
    build: .
    container_name: certificate-app
    ports:
      - "3000:3000"  # Port React
      - "5000:5000"  # Port Backend (Server.js) <--- WAJIB DITAMBAH
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      # Abaikan node_modules agar pakai versi container
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      # Pastikan file .env dibaca
    env_file:
      - .env