services:
  # 1. Container Backend (Server)
  server-app:
    build: 
      context: ./server    # Menggunakan Dockerfile di folder server
    container_name: local-backend
    ports:
      - "5000:5000"        # Host:Container
    env_file:
      - ./server/.env      # Membaca env khusus server
    environment:
      - PORT=5000          # Memastikan port internal benar

  # 2. Container Frontend (Client - Nginx)
  client-app:
    build:
      context: ./client    # Menggunakan Dockerfile di folder client
      args:
        # PENTING: Ini menyuntikkan variabel saat build React
        # Gunakan localhost karena browser Anda (Host) yang akan mengakses API, bukan container Nginx.
        - REACT_APP_API_URL=http://localhost:5000/api 
    container_name: local-frontend
    ports:
      - "3000:80"          # Akses di browser localhost:3000, internal Nginx 80
    depends_on:
      - server-app         # Pastikan server jalan dulu